{% extends 'app_base/base.html' %}
{% load static %}

{% block title %}Inbox{% endblock %}
{% block header_title %}Your Messages{% endblock %}
{% block header_subtitle %}Read and manage your messages{% endblock %}
{% block header_image %}{% static 'assets/img/inbox-bg.jpg' %}{% endblock %}

{% block content %}
<h2>Inbox</h2>
{% for message in messages %}
    <div class="message-preview">
        <h3>{{ message.subject }}</h3>
        <p>From: {{ message.sender.username }}</p>
        <p>{{ message.body }}</p>
    </div>
    <hr class="my-4" />
{% endfor %}
{% endblock %}

